
.list {
    font-size: 21px;
    background-color: white;
}

.status {
    margin: 40px 16px;
    padding: 2px;
    font-size: 24px;
    background-color: white;
}
.cardstyle {
    margin: 10px 16px;
}